{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="{% static 'Pollen/style.css' %}">

	<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
	<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Autocomplete -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	{% if title%}
		<title>{{title}}</title>
	{% else %}
		<title>Pollen Home</title>
	{% endif %}

	<style type="text/css"> .dot1 {
      color: green;
    }
    .dot2 {
      color: yellow;
    }
    .dot3 {
      color: red;
    }
</style>
</head>
<body>
	<header>
	<div class="site-header">
				<div class="container">
					<a href="/" class="branding">
						<img src="{% static 'Pollen/images/logo_new.png' %}" alt="" class="logo" style="height: 70px;">
						<div class="logo-type">
							<h1 class="site-title">POLLEN</h1>
							<small class="site-description">FROM ANTHERS TO ALLERGIES</small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="/"><i class="fa fa-home" style="font-size:20px;color:#009ad8"></i> Home</a></li>
							<li class="menu-item"><a href="/pollen_info"><i class="fa fa-info-circle" style="font-size:20px;color:#009ad8"></i> Pollen Info</a></li>
							<li class="menu-item"><a href="/health"><i class="fa fa-plus-square" style="font-size:20px; color:#009ad8"></i> Health Issues</a></li>
							<li class="menu-item"><a href="/pollen_help"><i class="fa fa-question-circle" style="font-size:20px;color:#009ad8"></i> Help</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
	</div> <!-- .site-header -->
	</header>
	{% block content %}{% endblock %}
	<footer class="site-footer">
				<div class="container">
					<div class="row">
						
					</div>

					<p style="font-size: 17px;">Project Mentor : Prof. Sunita Sahu (sunita.sahu@ves.ac.in)</p>
					<p style="font-size: 17px;">Team : <br>Pankaj Parwani (2017.pankaj.parwani@ves.ac.in)<br> Niraj Bhavnani (2017.niraj.bhavnani@ves.ac.in)<br> Avinash Bhawnani (2017.avinash.bhawnani@ves.ac.in)<br> Karan Rupreja (2017.karan.rupreja@ves.ac.in)</p>
				</div>
	</footer> <!-- .site-footer -->
	<script src="{% static 'Pollen/js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'Pollen/js/plugins.js' %}"></script>
	<script src="{% static 'Pollen/js/app.js' %}"></script>


	<script>
  $( function() {
    var availableTags = [
      "Mumbai",
      "Delhi",
      "Jammu",
      "Kolkata",
      "Kanyakumari"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>