{% extends "Pollen_templates/base.html" %}
{% load static %}
{% block content %}
<div class="hero" data-bg-image="{% static 'Pollen/images/dark.png' %}">
    <main class="main-content">
				<div class="container">
					<div class="breadcrumb">
						<a href="/">Home</a>
						<span>Pollen-info</span>
					</div>
				</div>

				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
							<div>
								<div class="post">
									<h2 class="entry-title">All About Pollen</h2>
									
									<p style="font-size: 18px; text-align: justify;text-justify: inter-word;">The average total lung capacity of an adult human is about 6 litres of air which carries various biological particles which also includes pollen.
									So what is pollen?<br><br>

									Pollen is a minute body, of varying shape and structure. It usually appears like fine dust  whose individual grains contain the male reproductive cells of seed plants. The objective of each living life form, including plants, is to fertilize. In the case of plants, it is done by transferring pollen grains from the male anther of a flower to the female stigma (where fertilization takes place), this is Pollination.
									There are two types of pollination: <br>1)Self-pollination where plants can fertilize itself <br> 2)Cross- pollination where plants require a pollinating agent like water, wind to get the pollen to another flower of the same species.<br><br>


									Types of pollen.<br>
									Now moving on to the study of pollen which is called palynology and is highly useful in paleontology, paleoecology, archaeology, and forensics. There are many ways to classify pollen species. On the basis of aperture types pollen grains of most families are grouped under three distinct types, namely colporate, colpate and porate. Other way is the source from which pollen grains are released i.e grass weed tree.<br><br>


									Despite the fact that the main goal of these grains is to fertilize with different plants, many never arrive at their objectives. This leads to pollen allergy. We have heard about different kinds of allergies but very few people know that there exists allergy of pollen. Pollen is one of the most common triggers of seasonal allergies. Many people have an adverse immune response when they breathe in pollen which results in allergic conditions such as hay fever, asthma and some more.<br><br>

									People with pollen allergies only have symptoms when the pollens they are allergic to are in the air. Symptoms include:<br>
									Itchy nose, eyes, ears and mouth<br>
									Red and watery eyes<br>
									Headache, sneezing<br><br>

									Doctors use two tests to diagnose a pollen allergy.<br>

									Skin Prick Test (SPT) <br>
									IgE Blood Test.</p>
									<h4><a href="  http://ssrn.com/abstract=3769198" target="_blank" class="button">Read the paper on SSRN website</a></h4>
								</div>

								
							</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</main> <!-- .main-content -->
{% endblock content %}